* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
}

.page {
  width: 1200px;
  min-height: 900px;
  background: #c8dce7;
  position: relative;
  overflow: hidden;
}
label {
  font-size: 20px;
  font-weight: 400;
}
.banner {
  width: 100%;
  height: 170px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-title {
  text-align: center;
  margin-top: 70px;
  font-size: 50px;
  font-weight: 700;
}

.logo {
  position: absolute;
  top: 210px;
  right: 50px;
  width: 160px;
}

.circle-big {
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: #40b7c1;
  top: 170px;
  left: -90px;
}

.circle-small {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #45c3cc;
  top: 370px;
  left: -10px;
}

.circle-haltere {
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: #45c3cc;
  top: 280px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-haltere img {
  width: 90px;
}

.bottom-left {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #45c3cc;
  left: -80px;
  bottom: -120px;
}

.bottom-right {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #45c3cc;
  right: -60px;
  bottom: -90px;
}

.center-zone {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.blob {
  width: 650px;
  min-height: 430px;
  background: #3fb8c3;
  border-radius: 43% 57% 55% 45% / 40% 40% 60% 60%;
  padding: 110px;
}

.welcome {
  text-align: center;
  color: white;
  font-size: 70px;
  margin-top: 50px;
}

.start-btn {
  display: block;
  width: 220px;
  margin: 40px auto;
  text-align: center;
  text-decoration: none;
  background: #e95f5f;
  color: white;
  font-size: 35px;
  font-weight: 600;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.start-btn:hover {
  transform: scale(1.05);
}

.progress {
  width: 400px;
  margin: 60px auto 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 4px solid black;
  background: white;
}

.step.active {
  background: #33d3e0;
}

.line {
  flex: 1;
  height: 2px;
  background: #666;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 30px;
}

input,
select {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 10px;

  font-size: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.row div {
  flex: 1;
}

.radio-group {
  display: flex;
  gap: 25px;
}

.radio-group label {
  font-size: 18px;
}

.next-btn {
  align-self: flex-end;
  background: #e95f5f;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 24px;
  cursor: pointer;
}
